* {
    margin: 0;
    padding: 0;
}
body {
    margin-left: auto;
    margin-right: auto;
    width: 1280px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}
.header-menu {
    text-align: justify;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #FF0000;
    padding-top: 29px;
    letter-spacing: 2.7px;
}
.header-menu-button-home {
    display: inline-block;
    text-align: center;
    padding-bottom: 31px;
    padding-left: 330px;
    padding-right: 62px;
}
.nav-link {
    color: #FF0000;
    text-decoration: none;
}
.nav-link:hover {
    text-decoration-line: underline;
}
.header-menu-button-photoapp {
    display: inline-block;
    padding-right:65px;
}
.header-menu-button-desigh {
    display: inline-block;
    padding-right: 40px;
}
.header-menu-button-download {
    display: inline-block;
}
.main-picture {
    display: block;
    width: 1280px;
}
.main-title {
    color: #373737;
    position: center;
    padding-top: 50px;
    padding-left: 253px;
    padding-right: 253px;
    text-align: left;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    width: 774px;
}
.first-paragraph {
    text-align:center;
    width: 1145px;
    font-weight: 400;
    padding: 40px 67.5px 28px;
    letter-spacing: 2.4px;
    line-height: 26px;
    color: #373737;
}
.second-paragraph {
    text-align: center;
    font-weight: 400;
    padding-top: 2px;
    padding-left:67.5px;
    padding-right: 67.5px;
    letter-spacing: 2.4px;
    line-height: 26px;
    color: #373737;
}
.button {
    margin: 71px 544.5px 42px 544.5px;
    width: 191px;
    height: 52px;
    color: white;
    background-color: #FF0000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1.8px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.3s;
}
.button:hover {
    background-color: white;
    color:#FF0000;
    border: 1px solid #FF0000;
}
.footer-title {
    font-weight: 700;
    line-height: 20px;
    color: #373737;
    letter-spacing: 2.4px;
}
.footer {
    position: absolute;
    text-align: right;
    width: 1070px;
    padding-top: 50px;
    padding-left: 105px;
}
